{{#each stations}}
  {{> latest-readings}}
  <a href="/station/{{_id}}" class="button">
    {{>icons/open}}
  </a>
<a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}