{{> menu}}

<section class="section">
  <div class="title">
    {{station.name}}
  </div>
  {{> latest-readings 
      name=station.name weather=station.weather latitude=station.latitude longitude=station.longitude weather=station.weather
      clear=station.clear partialClouds=station.partialClouds cloudy=station.cloudy lightShowers=station.lightShowers heavyShowers=station.heavyShowers
      rain=station.rain snow=station.snow thunder=station.thunder
      tempC=station.tempC tempF=station.tempF minTemp=station.minTemp maxTemp=station.maxTemp 
      tempRising=station.tempRising tempFalling=station.tempFalling
      minWind=station.minWind maxWind=station.maxWind
      windBft=station.windBft windDirection=station.windDirection windChill=station.windChill
      windRising=station.windRising windFalling=station.windFalling
      pressure=station.pressure minPressure=station.minPressure maxPressure=station.maxPressure
      pressureRising=station.pressureRising pressureFalling=stataion.pressureFalling}}
  {{> list-readings}}
  {{> add-reading}}
</section>